[submodule "EZEN-teamproject"]
	path = EZEN-teamproject
	url = https://github.com/ParkTH-Dev/EZEN-teamproject.git
[submodule "instagram_ytk"]
	path = instagram_ytk
	url = https://github.com/hoon730/instagram_ytk.git
